certifi==2017.7.27.1
chardet==3.0.4
Django==1.8.14
django-extensions==1.7.5
django-static-jquery==2.1.4
html5lib==0.999
idna==2.5
MySQL-python==1.2.5
PyJWT==1.4.2
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2016.10
requests==2.20.0
six==1.10.0
urllib3==1.26.5
Werkzeug==0.9.6
